<form method="POST" action="/admission/{{data._id}}?_method=PUT">
  <div class="form-group" >
    <label for="name" >Title</label>
    <input value="{{data.name}}" type="text" class="form-control" id="name" name="name" required />
  </div>
  <div class="form-group">
    <label for="imageAvatar">Image</label>
    <input
      value="{{data.avatar}}"
      type="text"
      class="form-control"
      id="imageAvatar"
      name="imageAvatar"
      required
    />
  </div>
  <div class="form-group">
    <label for="intro_1">Description 1</label>
    <textarea type="text" class="form-control" id="intro_1" name="intro_1" required >{{data.intro_1}}</textarea>
  </div>
  <div class="form-group">
    <label for="intro_2">Description 2</label>
    <textarea type="text" class="form-control" id="intro_2" name="intro_2" required >{{data.intro_2}}</textarea>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >Close</button>
  </div>
</form>