{{>header}}
<div class="row">
  {{>nav}}
  <div class="col-lg-10">
    <form
      class="container mt-4"
      name="container-form"
      method="POST"
      action="/khoa-hoc/handle-form-action"
    >
      <div>
        <h3 class="text-center pb-4 havemust-title">slideBar DevPlus Trash</h3>
        <div class="havemust-box">
          <div class="box-buttonfunction">
            <div>
                <a href="/slideBar/list" class="button-garbage button-addnewdata">
                    Back List
                <i class="fa-solid fa-rotate-left"></i></a>
                {{deletedCount}}</a>
            </div>
          </div>
        </div>
      </div>
      <table class=" table-havemust table table-bordered table-striped">
        <thead>

          <tr class="column-title">
            <th scope="col" class="col-1">Index</th>
            <th scope="col" class="col-5">Image</th>
            <th scope="col" colspan="2">Action </th>

          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>
                <img src="{{this._doc.src}}" alt="" srcset="" height="200">
              </td>
              <td class="col-1">
                <a href="" data-target="#edit-havemust-modal"class="btn-restore" data-id="{{this._doc._id}}">
                  <i class="fa-solid fa-trash-can-arrow-up"></i>
                </a>
              </td>
              <td class="col-1">
                <a
                  href="/slideBar/{{this._doc._id}}/delete"
                  class="btn btn-link"
                  data-toggle="modal"
                  data-id="{{this._doc._id}}"
                  data-target="#delete-slideBar-modal"
                >
                  <i class="fa-sharp fa-solid-delete fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="5" class="text-center">Bạn chưa có thông tin. Hãy đi tạo mới thông tin
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </form>
    {{!-- create --}}
    <div
      class="modal fade"
      id="create-slideBar-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ADD NEW DATA</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/slideBar/create" enctype="multipart/form-data">
              <div class="form-group">
        <input type="file" class="form-control" id="src" name="src" required/>
        <label for="src" class="src">Select file<i class="fa-solid fa-cloud-arrow-up"></i></label>
        <div class="img"></div>
      </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Data</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{!-- delete --}}
    <div class="modal fade" id="delete-slideBar-modal" tabindex="-1" role="dialog" aria-labelledby="delete-Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              You want delete data ?
          </div>
          <div class="modal-footer">
            <button type="button" id="btn-delete-slideBar" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <form name="delete-slideBar-form" method="POST">
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      let slideBarId = 0;
      const deleteForm = document.forms['delete-slideBar-form']
      $('#delete-slideBar-modal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget) // Button that triggered the modal
        slideBarId = button.data('id') // Extract info from data-* attributes   
      })
      const btnDeleteslideBar = document.getElementById('btn-delete-slideBar');
      btnDeleteslideBar.onclick = function() {
        deleteForm.action = '/slideBar/' + slideBarId + '?_method=DELETE';
        deleteForm.submit();
      }
      // restore
    var restoreBtn = $(".btn-restore");
    // Restore btn clicked
    restoreBtn.click(function (e) {
      e.preventDefault();

      var courseId = $(this).data('id');
      deleteForm.action = '/slideBar/' + courseId + '/restore?_method=PATCH';
      deleteForm.submit();
    });
    })
</script>
