{{>header}}
<div class="row">
  {{>nav}}
  <div class="col-lg-10">

    <form class="container mt-4" name="container-form" method="POST" action="/khoa-hoc/handle-form-action">
      <div>
        <h3 class="text-center pb-4 havemust-title">DevPlus Have Must Trash</h3>
        <div class="havemust-box">
          <div class="box-buttonfunction">
            <div>
                <a href="/must-have/list" class="button-garbage button-addnewdata">
                Back List
                <i class="fa-solid fa-rotate-left"></i></a>
                {{deletedCount}}</a>
            </div>
          </div>
        </div>
      </div>
      <table class="table-havemust table table-bordered table-striped ">
        <thead>
          <tr class="column-title">
            <th scope="col">Index</th>
            <th scope="col">Title</th>
            <th scope="col" class="col-2">Image</th>
            <th scope="col">Course</th>
            <th scope="col" colspan="2">Action </th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this._doc.title}}</td>
            <td><img src="{{this._doc.icon}}" alt="icon"></td>
            <td>{{this._doc.course}}</td>
            <td>
              <a href="" data-target="#edit-havemust-modal"class="btn-restore" data-id="{{this._doc._id}}">
                <i class="fa-solid fa-trash-can-arrow-up"></i>
              </a>
            </td>
            <td>
              <a href="/must-have/{{this._doc._id}}/delete" {{!-- class="btn btn-link" --}} data-toggle="modal"
                data-id="{{this._doc._id}}" data-target="#delete-havemust-modal">
                <i class="fa-sharp fa-solid-delete fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="5" class="text-center">Bạn chưa có thông tin. Hãy đi tạo mới thông tin</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </form>
    {{!-- create --}}
    <div class="modal fade" id="create-havemust-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ADD NEW DATA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/must-have/create" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Name Data</label>
                <input type="text" class="form-control" id="title" name="title" required />
              </div>
              <div class="form-group">
                <label for="course">Name course</label>
                <input
                  type="text"
                  class="form-control"
                  id="course"
                  name="course"
                  required
                />
              </div>
              {{!-- <div class="form-group">
                <label for="icon">Name icon</label>
                <input
                  type="text"
                  class="form-control"
                  id="icon"
                  name="icon"
                  required
                />
              </div> --}}
              <div class="form-group">
                <label for="course">Image</label>
                <input type="file" class="form-control" id="icon" name="icon" required/>
                <label for="icon" class="icon">Select file<i class="fa-solid fa-cloud-arrow-up"></i></label>
                <div class="img"></div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Data</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{!-- delete --}}
    <div class="modal fade" id="delete-havemust-modal" tabindex="-1" role="dialog" aria-labelledby="delete-Label"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You want delete data ?
          </div>
          <div class="modal-footer">
            <button type="button" id="btn-delete-havemust" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <form name="delete-havemust-form" method="POST">
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let havemustId = 0;
    const deleteForm = document.forms['delete-havemust-form']
    $('#delete-havemust-modal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget) // Button that triggered the modal
      havemustId = button.data('id') // Extract info from data-* attributes   
    })
    const btnDeleteHavemust = document.getElementById('btn-delete-havemust');
    btnDeleteHavemust.onclick = function () {
      deleteForm.action = '/must-have/' + havemustId + '/force?_method=DELETE';
      deleteForm.submit();
    }
    // restore
    var restoreBtn = $(".btn-restore");
    // Restore btn clicked
    restoreBtn.click(function (e) {
      e.preventDefault();

      var courseId = $(this).data('id');
      deleteForm.action = '/must-have/' + courseId + '/restore?_method=PATCH';
      deleteForm.submit();
    });
  })
</script>